/* Custom CSS */

// Modern Color Palette
body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

a {
  color: #00ff7f;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  color: #f2f2f2;
}

blockquote {
  color: #a9a9a9;
  border-left: 4px solid #00ff7f;
}

pre, code {
  font-family: 'Fira Code', monospace;
  background-color: #2a2a2a;
  color: #f2f2f2;
  border: 1px solid #2a2a2a;
}

.site-header {
  background-color: #2a2a2a;
  border-top: 5px solid #00ff7f;
  border-bottom: 1px solid #2a2a2a;
}

.site-title, .site-title:visited {
  color: #f2f2f2;
}

.site-nav .page-link {
  color: #f2f2f2;
}

.site-footer {
  background-color: #2a2a2a;
  border-top: 1px solid #2a2a2a;
  color: #a9a9a9;
}

.footer-heading {
  color: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.post-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.post-list-item {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.post-list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.post-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00ff7f;
}

.post-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.post-link:hover {
    text-decoration: underline;
}

.post-excerpt {
    font-size: 1rem;
    color: #a9a9a9;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 0.9rem;
    color: #a9a9a9;
}

.archive-link {
    margin-top: 20px;
}

.archive-link a {
    font-size: 1rem;
    text-decoration: none;
    color: #00ff7f;
    font-weight: bold;
}

.archive-link a:hover {
    text-decoration: underline;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.portfolio-item {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-item h3 {
  color: #00ff7f;
  margin-bottom: 15px;
}

.portfolio-item p {
  color: #f2f2f2;
}

.post-layout {
  display: flex;
  justify-content: space-between;
}

.post {
  width: 70%;
}

.toc-container {
  width: 25%;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  align-self: flex-start;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 5px;
}

.toc h2 {
  color: #00ff7f;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.toc ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.toc li {
  margin-bottom: 15px;
}

.toc a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.toc a.h2 {
  font-weight: bold;
}

.toc a.h3 {
  padding-left: 15px;
}

.toc a.active {
  color: #00ff7f;
}

.toc a:hover {
  color: #00ff7f;
}
