<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  {% include head-custom-google-analytics.html %}
  ```[[5](https://www.google.com/url?sa=E&q=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fgrounding-api-redirect%2FAQXblrwZpXiJ-jF7jUDv8D1xpUKfEp_bfoIRLyKA5A0TrP-F6cVJ7JzrLr0DRT-oCAEWtSqlMPFvjDaTKEwp06adTvmbCJiPOHuwGBl-zMkoqDRZRv6DDiJQGlONFvANVZAUTZwf27kEWa4hZ5RDPM8u7Lstq_72rye0kQEztztK)]```
</html>
